.img-fluid{
    border-radius: 0 50px 0 50px;
}

#about{

    text-align: center;
    padding-top: 4em;
    margin-top: -1em;
}

#aboutTitle{
  padding-bottom: .5em;
}

@media screen and (max-width: 600px) {
    #aboutText {
      font-size: 1rem;
    }
  }

@media screen and (min-width: 601px) {
    #aboutText {
      font-size: 1.5rem;
    }
  }

@media screen and (min-width: 1200px) {
    #aboutText {
      font-size: 2rem;
    }
  }
  
@media screen and (min-width: 601px) {
    #aboutTitle {
      font-size: 3rem;
    }
  }
  
@media screen and (max-width: 500px) {
    #aboutTitle {
      font-size: 2rem;
    }
  }
  
@media screen and (max-width: 600px) {
    li {
        font-size: 1rem;
      }
    }
@media screen and (min-width: 601px) {
    li {
      font-size: 1.5rem;
    }
  }
@media screen and (min-width: 1200px) {
    li {
      font-size: 2rem;
    }
  }
  
@media screen and (min-width: 601px) {
    #resume {
      font-size: 1.5rem;
    }
  }
  
@media screen and (max-width: 600px) {
    #resume {
      font-size: 1rem;
      /* text-align: center; */
    }
  }

@media screen and (max-width: 600px) {
    .img-fluid {
        margin-left: 50%;
        border-radius: 0 50px 0 50px;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
  }