.jumbotron{
    background: url('../../Assets/background.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 50%;
}

.name{
    color: white;
    font-size: 7rem;
    margin-top: 2rem;
    text-align: center;
}

.position{
    color: white;
    font-size: xx-large;
    text-align: center;
}