.contactLogo{
    height: 3em;
}

#email{
    border: 2px solid black;
}

#name{
    border: 2px solid black;
}

#message{
    border: 2px solid black;
}

#contactTitle{
    text-align: center;
    padding-top: 2em;
}